.choose {
    background: linear-gradient(to right, #000d, #222222d5), url('../../assets/img/choose.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.card-icon {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    box-shadow: 3px 3px 5px #000000bb,
        inset 3px 3px 3px #4d4d4da6,
        -1px -1px 3px #4d4d4da6,
        inset -1px -1px 3px #000000bb;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e51679;
}

.card-icon .inner {
    height: 50px;
    width: 50px;
    padding: 4px;
    border-radius: 50%;
    box-shadow: inset 1px 1px 4px #000000bb,
        1px 1px 3px #4d4d4da6;
    background: #2222224d;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

.chooseCard {
    box-shadow: 3px 3px 5px #000000bb,
        inset 3px 3px 3px #4d4d4da6,
        -1px -1px 3px #4d4d4da6,
        inset -1px -1px 3px #000000bb;
        backdrop-filter: blur(10px);
}