.contact {
    background: linear-gradient(to right, #000e, #222d), url('../../assets/img/world.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.formBody {
    border-radius: 12px;
    box-shadow: 3px 3px 5px #000000bb,
        inset 3px 3px 3px #4d4d4da6,
        -1px -1px 3px #4d4d4da6,
        inset -1px -1px 3px #000000bb;
    backdrop-filter: blur(10px);
    padding: 20px;
}

.formBody input,
.formBody textarea {
    padding: 15px;
    border-radius: 12px;
    box-shadow: inset 1px 1px 4px #000000bb,
        1px 1px 3px #4d4d4da6;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e51679;
    font-size: 20px;
}

.formBody input:focus,
.formBody textarea:focus {
    border: none;
    box-shadow: inset 1px 1px 8px #000000bb,
        1px 1px 10px #4d4d4da6;
    outline: none;
}

.contact-card {
    border-radius: 12px;
    box-shadow: 3px 3px 5px #000000bb,
        inset 3px 3px 3px #4d4d4da6,
        -1px -1px 3px #4d4d4da6,
        inset -1px -1px 3px #000000bb;
    backdrop-filter: blur(10px);
    padding:45px 15px;
}

.contacatItem {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    box-shadow: 3px 3px 5px #000000bb,
        inset 3px 3px 3px #4d4d4da6,
        -1px -1px 3px #4d4d4da6,
        inset -1px -1px 3px #000000bb;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e51679;
}

.contacatItem .inner {
    height: 50px;
    width: 50px;
    padding: 4px;
    border-radius: 50%;
    box-shadow: inset 1px 1px 4px #000000bb,
        1px 1px 3px #4d4d4da6;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}